VITE_FIREBASE_API_KEY="AIzaSyCJ4c5LHMuXXfBAG29OFafCsMtWpSU84D4"
VITE_FIREBASE_AUTH_DOMAIN="waste-627ab.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="waste-627ab"
VITE_FIREBASE_STORAGE_BUCKET="waste-627ab.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="236826139964",
VITE_FIREBASE_APP_ID="1:236826139964:web:bf8dde3b8eb83a03189239"
